/* home layout */

.outer-wrapper {
  flex-direction: column;
  gap: var(--sm-size);
  padding: var(--sm-size);
}
.screen {
  flex-wrap: wrap;
  gap: var(--sm-size);
  margin: 10rem 0 5.2rem 0;
}
.image-wrapper {
  height: auto;
  align-items: center;
}
.footer {
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 0;
}

/* filters */

.filter-wrapper {
  width: 25.6rem;
  margin-top: 6.1rem;
  overflow-y: scroll;
  height: 80vh;
  position: fixed;
}

/* spacing  */

.full-width {
  width: 100%;
}
.margin-left {
  margin-left: 4.8rem;
}
.margin-right {
  margin-right: 4.8rem;
}
.margin {
  margin: 1.6rem;
}

/* styling  */

.primary-color {
  color: var(--primary-color);
}
body {
  font-family: var(--body-font);
}

/* product listing */
.product-listing {
  margin-left: 25.6rem;
}

.display-screen {
  margin: 6.8rem 0 5.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--sm-size);
}

/* cart */
.custom-width {
  width: var(--xl-size);
  height: var(--xl-size);
}
